In [53]:
%pip install yfinance

Defaulting to user installation because normal site-packages is not writeable
Collecting yfinance
  Downloading yfinance-0.2.40-py2.py3-none-any.whl (73 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 73.5/73.5 KB 42.9 kB/s eta 0:00:00a 0:00:01
Collecting html5lib>=1.1
  Using cached html5lib-1.1-py2.py3-none-any.whl (112 kB)
Collecting lxml>=4.9.1
  Downloading lxml-5.2.2-cp310-cp310-manylinux_2_28_x86_64.whl (5.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.0/5.0 MB 54.2 kB/s eta 0:00:0000:0100:03
Requirement already satisfied: numpy>=1.16.5 in /home/ranystephan/.local/lib/python3.10/site-packages (from yfinance) (1.24.2)
Requirement already satisfied: platformdirs>=2.0.0 in /home/ranystephan/.local/lib/python3.10/site-packages (from yfinance) (3.0.0)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.4.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.3/117.3 KB 49.7 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pytz>=2022.5 in /home/ranystephan/.local/lib/python3.10/site-packages (from yfinance) (2022.7.1)
Collecting peewee>=3.16.2
  Downloading peewee-3.17.5.tar.gz (3.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.0/3.0 MB 17.3 kB/s eta 0:00:0000:0100:03
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Collecting multitasking>=0.0.7
  Using cached multitasking-0.0.11-py3-none-any.whl (8.5 kB)
Requirement already satisfied: requests>=2.31 in /home/ranystephan/.local/lib/python3.10/site-packages (from yfinance) (2.31.0)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.12.3-py3-none-any.whl (147 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 147.9/147.9 KB 66.0 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: pandas>=1.3.0 in /home/ranystephan/.local/lib/python3.10/site-packages (from yfinance) (1.5.3)
Collecting soupsieve>1.2
  Using cached soupsieve-2.5-py3-none-any.whl (36 kB)
Requirement already satisfied: six>=1.9 in /usr/lib/python3/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Collecting webencodings
  Using cached webencodings-0.5.1-py2.py3-none-any.whl (11 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ranystephan/.local/lib/python3.10/site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: urllib3<3,>=1.21.1 in /home/ranystephan/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in /home/ranystephan/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (2024.2.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /home/ranystephan/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /home/ranystephan/.local/lib/python3.10/site-packages (from requests>=2.31->yfinance) (3.6)
Building wheels for collected packages: peewee
  Building wheel for peewee (pyproject.toml) ... done
  Created wheel for peewee: filename=peewee-3.17.5-py3-none-any.whl size=138640 sha256=417ae33aa294c7f95fffc1d40fe2d6433f7f36c4fc3a1d42776b44534de5c6ed
  Stored in directory: /home/ranystephan/.cache/pip/wheels/06/80/9b/98db0d58349a2f5c09f8406789ade4270762f97b7d26f2fa22
Successfully built peewee
Installing collected packages: webencodings, peewee, multitasking, soupsieve, lxml, html5lib, frozendict, beautifulsoup4, yfinance
Successfully installed beautifulsoup4-4.12.3 frozendict-2.4.4 html5lib-1.1 lxml-5.2.2 multitasking-0.0.11 peewee-3.17.5 soupsieve-2.5 webencodings-0.5.1 yfinance-0.2.40
Note: you may need to restart the kernel to use updated packages.

In [93]:
%pip install statsmodels

Defaulting to user installation because normal site-packages is not writeable
Collecting statsmodels
  Using cached statsmodels-0.14.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (10.8 MB)
Collecting patsy>=0.5.6
  Downloading patsy-0.5.6-py2.py3-none-any.whl (233 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 233.9/233.9 KB 240.5 kB/s eta 0:00:00a 0:00:01
Requirement already satisfied: scipy!=1.9.2,>=1.8 in /home/ranystephan/.local/lib/python3.10/site-packages (from statsmodels) (1.13.1)
Requirement already satisfied: packaging>=21.3 in /home/ranystephan/.local/lib/python3.10/site-packages (from statsmodels) (23.0)
Requirement already satisfied: numpy>=1.22.3 in /home/ranystephan/.local/lib/python3.10/site-packages (from statsmodels) (1.24.2)
Requirement already satisfied: pandas!=2.1.0,>=1.4 in /home/ranystephan/.local/lib/python3.10/site-packages (from statsmodels) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/ranystephan/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/ranystephan/.local/lib/python3.10/site-packages (from pandas!=2.1.0,>=1.4->statsmodels) (2022.7.1)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from patsy>=0.5.6->statsmodels) (1.16.0)
Installing collected packages: patsy, statsmodels
Successfully installed patsy-0.5.6 statsmodels-0.14.2
Note: you may need to restart the kernel to use updated packages.

In [1]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from datetime import timedelta, datetime
import os

In [27]:
import csv



# Path to the large CSV file
input_file = '(3)data.csv'

CHUNK = 1000000

# create a csv subfile for each chunk
for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):
    chunk.to_csv(f'(3)data_{i}.csv', index=False, quoting=csv.QUOTE_NONNUMERIC)
    print(f'Chunk {i} done')

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 0 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 1 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 2 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,49,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 3 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,60,71,72,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 4 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,60,71,72,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 5 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 6 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 7 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,18,21,22,23,24,25,26,27,28,45,52,59,60,67,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 8 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 9 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 10 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 11 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 12 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 13 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 14 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 15 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 16 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 17 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 18 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 19 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (13,22,23,24,25,26,27,28,45,52,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 20 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 21 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 22 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 23 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 24 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 25 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 26 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 27 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 28 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 29 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 30 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,59,60,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 31 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 32 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 33 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 34 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,51,52,57,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 35 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (13,21,22,23,24,25,26,27,28,45,49,50,51,52,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 36 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 37 done

/tmp/ipykernel_6550/4008502856.py:11: DtypeWarning: Columns (13,21,22,24,25,26,27,28,60,67,71,77,81) have mixed types. Specify dtype option on import or set low_memory=False.
  for i, chunk in enumerate(pd.read_csv(input_file, chunksize=CHUNK)):

Chunk 38 done

In [2]:
df = pd.read_csv('(3)/(3)data_0.csv')

/tmp/ipykernel_1062/2605391572.py:1: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('(3)/(3)data_0.csv')

In [3]:
# only keep the columns we need
df = df[['GVKEY', 'LPERMNO', 'tic', 'conm', 'datadate', 'prccd']]

In [5]:
# make sure the dates are in the right format
df['datadate'] = pd.to_datetime(df['datadate'])

In [6]:
# sort by GVKEY and datadate
df = df.sort_values(['GVKEY', 'datadate'])

In [7]:
df.head()

      GVKEY  LPERMNO  tic      conm   datadate    prccd
870    1004    54594  AIR  AAR CORP 2000-01-03  17.5625
5689   1004    54594  AIR  AAR CORP 2000-01-04  17.6250
3478   1004    54594  AIR  AAR CORP 2000-01-05  17.8125
1406   1004    54594  AIR  AAR CORP 2000-01-06  17.9375
4851   1004    54594  AIR  AAR CORP 2000-01-07  18.5625

In [8]:
# reset the index
df = df.reset_index(drop=True)

In [9]:
df.head()

   GVKEY  LPERMNO  tic      conm   datadate    prccd
0   1004    54594  AIR  AAR CORP 2000-01-03  17.5625
1   1004    54594  AIR  AAR CORP 2000-01-04  17.6250
2   1004    54594  AIR  AAR CORP 2000-01-05  17.8125
3   1004    54594  AIR  AAR CORP 2000-01-06  17.9375
4   1004    54594  AIR  AAR CORP 2000-01-07  18.5625

In [10]:
df.shape

(1001438, 6)

In [55]:
# get the s&p500 daily price from 01/01/2000 till today 
import yfinance as yf
import pandas as pd
from datetime import datetime

# Define the ticker symbol for the S&P 500 index
ticker_symbol = '^GSPC'

# Define the start and end dates
start_date = '2000-01-01'
end_date = datetime.today().strftime('%Y-%m-%d')

# Download the historical market data
data = yf.download(ticker_symbol, start=start_date, end=end_date)

# Save the data to a CSV file
data.to_csv('sp500_daily_prices.csv')

print("CSV file 'sp500_daily_prices.csv' has been created successfully.")

[*********************100%%**********************]  1 of 1 completed

CSV file 'sp500_daily_prices.csv' has been created successfully.

In [11]:
spx = pd.read_csv('sp500_daily_prices.csv')

In [12]:
spx = spx[['Date', 'Close']]

In [13]:
# make sure the dates are in the right format
spx['Date'] = pd.to_datetime(spx['Date'])

In [14]:
# merge df and spx on datadate and Date
merged = pd.merge(df, spx, how='left', left_on='datadate', right_on='Date')

In [15]:
merged.head()

   GVKEY  LPERMNO  tic      conm   datadate    prccd       Date        Close
0   1004    54594  AIR  AAR CORP 2000-01-03  17.5625 2000-01-03  1455.219971
1   1004    54594  AIR  AAR CORP 2000-01-04  17.6250 2000-01-04  1399.420044
2   1004    54594  AIR  AAR CORP 2000-01-05  17.8125 2000-01-05  1402.109985
3   1004    54594  AIR  AAR CORP 2000-01-06  17.9375 2000-01-06  1403.449951
4   1004    54594  AIR  AAR CORP 2000-01-07  18.5625 2000-01-07  1441.469971

In [16]:
# merge the columns GVKEY and LPERMNO in the format 'GVKEY_LPERMNO' as 'id' 
merged['id'] = merged['GVKEY'].astype(str) + '_' + merged['LPERMNO'].astype(str)

In [17]:
# delete the columns GVKEY and LPERMNO
merged = merged.drop(['GVKEY', 'LPERMNO'], axis=1)

In [18]:
merged = merged.drop(['datadate'], axis=1)

In [19]:
# rename the columns
merged = merged.rename(columns={'id': 'code', 'tic': 'ticker', 'conm': 'company_name', 'prccd': 'stock_price', 'Close': 'sp500_price'})

In [20]:
merged.head()

  ticker company_name  stock_price       Date  sp500_price        code
0    AIR     AAR CORP      17.5625 2000-01-03  1455.219971  1004_54594
1    AIR     AAR CORP      17.6250 2000-01-04  1399.420044  1004_54594
2    AIR     AAR CORP      17.8125 2000-01-05  1402.109985  1004_54594
3    AIR     AAR CORP      17.9375 2000-01-06  1403.449951  1004_54594
4    AIR     AAR CORP      18.5625 2000-01-07  1441.469971  1004_54594

In [21]:
"""
Description: This function calculates the compounded weekly returns for a given time series of daily prices.
Parameters:
    daily_prices: pd.Series - A time series of daily prices

Note:
    This function will take in the daily prices and calculate the daily returns.
    It will then resample the daily returns to weekly, with weeks ending on Wednesday.
    The weekly returns are then compounded to get the compounded weekly returns.
"""
def calculate_compounded_returns(daily_prices):
    # Calculate daily returns
    daily_returns = daily_prices.pct_change().add(1)

    # Resample to weekly, with weeks ending on Wednesday
    # Calculate the product of returns for each week to get compounded return
    weekly_compounded_returns = daily_returns.resample('W-WED').prod().sub(1)

    return weekly_compounded_returns

In [22]:
# Putting this into a function
# adding weekly returns
def add_weekly_returns(df):
    

    # Convert 'Date' to datetime format and set as index
    df['Date'] = pd.to_datetime(df['Date'])
    df.set_index('Date', inplace=True)
    
    # Lists to store the results
    results = []
    
    # Loop through each stock in the dataframe
    for code, group in df.groupby('code'):
        # Calculate compounded returns for each group
        group['stock_weekly_returns'] = calculate_compounded_returns(group['stock_price'])
        group['market_weekly_returns'] = calculate_compounded_returns(group['sp500_price'])
        
        results.append(group)
        
    # Concatenate the results and reset the index
    df = pd.concat(results)
    
    return df

In [23]:
merged

,ticker,company_name,stock_price,Date,sp500_price,code
0,AIR,AAR CORP,17.5625,2000-01-03,1455.219971,1004_54594
1,AIR,AAR CORP,17.6250,2000-01-04,1399.420044,1004_54594
2,AIR,AAR CORP,17.8125,2000-01-05,1402.109985,1004_54594
3,AIR,AAR CORP,17.9375,2000-01-06,1403.449951,1004_54594
4,AIR,AAR CORP,18.5625,2000-01-07,1441.469971,1004_54594
...,...,...,...,...,...,...
1001433,BNI,BURLINGTON NORTHERN SANTA FE,99.7400,2010-02-08,1056.739990,2490_50227
1001434,BNI,BURLINGTON NORTHERN SANTA FE,99.9100,2010-02-09,1070.520020,2490_50227
1001435,BNI,BURLINGTON NORTHERN SANTA FE,99.9600,2010-02-10,1068.130005,2490_50227
1001436,BNI,BURLINGTON NORTHERN SANTA FE,100.2300,2010-02-11,1078.469971,2490_50227
1001437,BNI,BURLINGTON NORTHERN SANTA FE,100.2100,2010-02-12,1075.510010,2490_50227

In [24]:
df_temp = add_weekly_returns(merged)

In [25]:
df_temp.to_csv('(3)/data_process/(3)data_weekly_returns.csv', index=False)
df_temp.head()

,ticker,company_name,stock_price,sp500_price,code,stock_weekly_returns,market_weekly_returns
Date,,,,,,,
2000-01-03,AIR,AAR CORP,17.5625,1455.219971,1004_54594,NaN,NaN
2000-01-04,AIR,AAR CORP,17.6250,1399.420044,1004_54594,NaN,NaN
2000-01-05,AIR,AAR CORP,17.8125,1402.109985,1004_54594,0.014235,-0.036496
2000-01-06,AIR,AAR CORP,17.9375,1403.449951,1004_54594,NaN,NaN
2000-01-07,AIR,AAR CORP,18.5625,1441.469971,1004_54594,NaN,NaN

In [27]:
# drop na values
df_temp.dropna(inplace=True)
df_temp.to_csv('(3)/data_process/(3)data_weekly_returns.csv', index=False)
df_temp.head()

,ticker,company_name,stock_price,sp500_price,code,stock_weekly_returns,market_weekly_returns
Date,,,,,,,
2000-01-05,AIR,AAR CORP,17.8125,1402.109985,1004_54594,0.014235,-0.036496
2000-01-12,AIR,AAR CORP,21.5625,1432.250000,1004_54594,0.210526,0.021496
2000-01-19,AIR,AAR CORP,19.9375,1455.900024,1004_54594,-0.075362,0.016512
2000-01-26,AIR,AAR CORP,18.5625,1404.089966,1004_54594,-0.068966,-0.035586
2000-02-02,AIR,AAR CORP,18.4375,1409.119995,1004_54594,-0.006734,0.003582

In [28]:
def calculate_lagged_returns(df):
    results = []

    # Group by 'code' and calculate lagged returns for each group
    for code, group in df.groupby('code'):
        # Calculate Lagged Returns
        for n in range(1, 5):
            group[f'market_returns_lag_{n}'] = group['market_weekly_returns'].shift(n)

        # Remove rows with NaN values which result from lagging
        group.dropna(inplace=True)

        # Append the group to the results list
        results.append(group)

    # Concatenate all the groups back into a single DataFrame
    df = pd.concat(results)

    # Save to CSV if needed
    df.to_csv('(3)/data_process/(3)data_with_lags.csv')

    return df

In [29]:
# Calculate lagged returns
df_temp = calculate_lagged_returns(df_temp)
df_temp.head()

,ticker,company_name,stock_price,sp500_price,code,stock_weekly_returns,market_weekly_returns,market_returns_lag_1,market_returns_lag_2,market_returns_lag_3,market_returns_lag_4
Date,,,,,,,,,,,
2000-02-02,AIR,AAR CORP,18.4375,1409.119995,1004_54594,-0.006734,0.003582,-0.035586,0.016512,0.021496,-0.036496
2000-02-09,AIR,AAR CORP,18.9375,1411.709961,1004_54594,0.027119,0.001838,0.003582,-0.035586,0.016512,0.021496
2000-02-16,AIR,AAR CORP,23.1250,1387.670044,1004_54594,0.221122,-0.017029,0.001838,0.003582,-0.035586,0.016512
2000-02-23,AIR,AAR CORP,23.3125,1360.689941,1004_54594,0.008108,-0.019443,-0.017029,0.001838,0.003582,-0.035586
2000-03-01,AIR,AAR CORP,23.6250,1379.189941,1004_54594,0.013405,0.013596,-0.019443,-0.017029,0.001838,0.003582

In [30]:
df_temp.reset_index(drop=False, inplace=True)
df_temp

,Date,ticker,company_name,stock_price,sp500_price,code,stock_weekly_returns,market_weekly_returns,market_returns_lag_1,market_returns_lag_2,market_returns_lag_3,market_returns_lag_4
0,2000-02-02,AIR,AAR CORP,18.4375,1409.119995,1004_54594,-0.006734,0.003582,-0.035586,0.016512,0.021496,-0.036496
1,2000-02-09,AIR,AAR CORP,18.9375,1411.709961,1004_54594,0.027119,0.001838,0.003582,-0.035586,0.016512,0.021496
2,2000-02-16,AIR,AAR CORP,23.1250,1387.670044,1004_54594,0.221122,-0.017029,0.001838,0.003582,-0.035586,0.016512
3,2000-02-23,AIR,AAR CORP,23.3125,1360.689941,1004_54594,0.008108,-0.019443,-0.017029,0.001838,0.003582,-0.035586
4,2000-03-01,AIR,AAR CORP,23.6250,1379.189941,1004_54594,0.013405,0.013596,-0.019443,-0.017029,0.001838,0.003582
...,...,...,...,...,...,...,...,...,...,...,...,...
204490,2010-01-13,BNI,BURLINGTON NORTHERN SANTA FE,99.0700,1145.680054,2490_50227,0.001719,0.007510,0.009517,0.005203,0.010287,0.012072
204491,2010-01-20,BNI,BURLINGTON NORTHERN SANTA FE,99.2300,1138.040039,2490_50227,0.001615,-0.006669,0.007510,0.009517,0.005203,0.010287
204492,2010-01-27,BNI,BURLINGTON NORTHERN SANTA FE,99.5000,1097.500000,2490_50227,0.002721,-0.035623,-0.006669,0.007510,0.009517,0.005203
204493,2010-02-03,BNI,BURLINGTON NORTHERN SANTA FE,99.8100,1097.280029,2490_50227,0.003116,-0.000200,-0.035623,-0.006669,0.007510,0.009517
204494,2010-02-10,BNI,BURLINGTON NORTHERN SANTA FE,99.9600,1068.130005,2490_50227,0.001503,-0.026566,-0.000200,-0.035623,-0.006669,0.007510

In [31]:
def calculate_annual_delay_measures(df):
    results = []

    # Assuming df is your DataFrame and 'Date' is in a format that pandas can recognize as a date
    df['Date'] = pd.to_datetime(df['Date'])

    # Function to adjust the year
    def adjust_year(row):
        if row.month < 7:  # If month is before July
            return row.year - 1  # Consider it as part of the previous year
        else:
            return row.year

    # First group by cryptocurrency
    for code, stock_group in df.groupby('code'):
        # Convert 'Date' to datetime and apply the year adjustment within each crypto group
        stock_group['Date'] = pd.to_datetime(stock_group['Date'])
        stock_group['Year'] = stock_group['Date'].apply(adjust_year)

        # Now group by year within each crypto group
        for year, year_group in stock_group.groupby('Year'):
            
            # Skip adjusted years with less than 24 weeks
            if len(year_group) < 24:
                continue
            
            
            # Prepare regression variables
            X = sm.add_constant(year_group[['market_weekly_returns', 'market_returns_lag_1', 'market_returns_lag_2', 'market_returns_lag_3', 'market_returns_lag_4']])
            y = year_group['stock_weekly_returns']

            # Full regression model
            full_model = sm.OLS(y, X).fit()
            r_squared_full = full_model.rsquared

            # Restricted regression model (only contemporaneous market return)
            X_restricted = sm.add_constant(year_group[['market_weekly_returns']])
            restricted_model = sm.OLS(y, X_restricted).fit()
            r_squared_restricted = restricted_model.rsquared

            # Calculate D1
            D1 = 1 - (r_squared_restricted / r_squared_full)

            # Append results for each year and crypto
            results.append({'code': code, 'Year': year, 'D1': D1})
            
    return pd.DataFrame(results)

# Usage example
annual_delay_measures = calculate_annual_delay_measures(df_temp)
print(annual_delay_measures)

            code  Year        D1
0     1004_54594  2000  0.239582
1     1004_54594  2001  0.468888
2     1004_54594  2002  0.250754
3     1004_54594  2003  0.071133
4     1004_54594  2004  0.111248
...          ...   ...       ...
3856  2490_50227  2005  0.183323
3857  2490_50227  2006  0.102063
3858  2490_50227  2007  0.013411
3859  2490_50227  2008  0.009302
3860  2490_50227  2009  0.368531

[3861 rows x 3 columns]

In [32]:
annual_delay_measures.to_csv('(3)/data_process/(3)annual_delay_measures_1.csv', index=False)
annual_delay_measures

            code  Year        D1
0     1004_54594  2000  0.239582
1     1004_54594  2001  0.468888
2     1004_54594  2002  0.250754
3     1004_54594  2003  0.071133
4     1004_54594  2004  0.111248
...          ...   ...       ...
3856  2490_50227  2005  0.183323
3857  2490_50227  2006  0.102063
3858  2490_50227  2007  0.013411
3859  2490_50227  2008  0.009302
3860  2490_50227  2009  0.368531

[3861 rows x 3 columns]

In [8]:
for i in range(4, 38):
    j = i + 1

    dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
    dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')

    # read the element in the first column of the last row
    last_gvkey = dfi.iloc[-1, 0]

    # filter the rows in dfj where the first column matches last_gvkey
    matching_rows = dfj[dfj.iloc[:, 0] == last_gvkey]

    # append the matching rows to dfi
    dfi = dfi.append(matching_rows, ignore_index=True)

    # remove the matching rows from dfj
    dfj = dfj[dfj.iloc[:, 0] != last_gvkey]

    # save the updated dfi back to the csv file
    dfi.to_csv(f'(3)/data_chunks/(3)data_{i}.csv', index=False)

    # save the updated dfj back to the csv file
    dfj.to_csv(f'(3)/data_chunks/(3)data_{j}.csv', index=False)

/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,21,22,23,24,25,26,27,28,45,52,57,60,71,72,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,60,71,72,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,18,21,22,23,24,25,26,27,28,45,52,59,60,67,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,50,52,57,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (13,22,23,24,25,26,27,28,45,52,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (13,22,23,24,25,26,27,28,45,52,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,60,71,72,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,78,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,50,52,57,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,60,67,71,72,77,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,71,72,77,80,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,81) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,57,59,60,67,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)
/tmp/ipykernel_3746/1963608357.py:4: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,49,52,59,60,71,72,77,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv(f'(3)/data_chunks/(3)data_{i}.csv')
/tmp/ipykernel_3746/1963608357.py:5: DtypeWarning: Columns (11,13,18,21,22,23,24,25,26,27,28,45,52,59,60,71,72,77,78,80,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv(f'(3)/data_chunks/(3)data_{j}.csv')
/tmp/ipykernel_3746/1963608357.py:14: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  dfi = dfi.append(matching_rows, ignore_index=True)

In [7]:
dfi = pd.read_csv('(3)/data_chunks/(3)data_3.csv')
dfj = pd.read_csv('(3)/data_chunks/(3)data_4.csv')

print(dfi.tail())

print(dfj.head())

/tmp/ipykernel_3746/2366406816.py:1: DtypeWarning: Columns (11,13,22,23,24,25,26,27,28,45,49,52,59,60,67,71,72,77,78,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfi = pd.read_csv('(3)/data_chunks/(3)data_3.csv')
/tmp/ipykernel_3746/2366406816.py:2: DtypeWarning: Columns (11,21,22,23,24,25,26,27,28,45,52,57,60,71,72,81,82) have mixed types. Specify dtype option on import or set low_memory=False.
  dfj = pd.read_csv('(3)/data_chunks/(3)data_4.csv')

         GVKEY LINKPRIM  LIID LINKTYPE  LPERMNO  LPERMCO      LINKDT  \
1000295   7114        P    90       LC    53727    21167  1971-12-13
1000296   7114        P    90       LC    53727    21167  1971-12-13
1000297   7114        P    90       LC    53727    21167  1971-12-13
1000298   7114        P    90       LC    53727    21167  1971-12-13
1000299   7114        P    90       LC    53727    21167  1971-12-13

          LINKENDDT  iid    datadate  ... priusa   sic spcindcd spcseccd  \
1000295  2013-04-19   90  2004-02-05  ...     90  3600    220.0    925.0
1000296  2013-04-19   90  2004-02-13  ...     90  3600    220.0    925.0
1000297  2013-04-19   90  2003-02-26  ...     90  3600    220.0    925.0
1000298  2013-04-19   90  2004-02-03  ...     90  3600    220.0    925.0
1000299  2013-04-19   90  2003-02-25  ...     90  3600    220.0    925.0

         spcsrc  state  stko              weburl  dldte     ipodate
1000295     NaN    NaN   3.0  holdings.panasonic    NaN  1949-05-01
1000296     NaN    NaN   3.0  holdings.panasonic    NaN  1949-05-01
1000297     NaN    NaN   3.0  holdings.panasonic    NaN  1949-05-01
1000298     NaN    NaN   3.0  holdings.panasonic    NaN  1949-05-01
1000299     NaN    NaN   3.0  holdings.panasonic    NaN  1949-05-01

[5 rows x 83 columns]
   GVKEY LINKPRIM  LIID LINKTYPE  LPERMNO  LPERMCO      LINKDT LINKENDDT  iid  \
0   7116        C     1       LU    39538    21168  1963-08-12         E    1
1   7116        C     1       LU    39538    21168  1963-08-12         E    1
2   7116        C     1       LU    39538    21168  1963-08-12         E    1
3   7116        C     1       LU    39538    21168  1963-08-12         E    1
4   7116        C     1       LU    39538    21168  1963-08-12         E    1

     datadate  ... priusa   sic spcindcd spcseccd  spcsrc  state  stko  \
0  2015-11-09  ...      1  3942    475.0    976.0       C     CA   0.0
1  2015-11-06  ...      1  3942    475.0    976.0       C     CA   0.0
2  2015-11-05  ...      1  3942    475.0    976.0       C     CA   0.0
3  2015-11-03  ...      1  3942    475.0    976.0       C     CA   0.0
4  2015-11-02  ...      1  3942    475.0    976.0       C     CA   0.0

           weburl  dldte  ipodate
0  www.mattel.com    NaN      NaN
1  www.mattel.com    NaN      NaN
2  www.mattel.com    NaN      NaN
3  www.mattel.com    NaN      NaN
4  www.mattel.com    NaN      NaN

[5 rows x 83 columns]

In [3]:
import pandas as pd
import os

# Define the directory where your files are stored
folder_path = '(3)US CRSP:Compustat Data/data_process/'

# Path for the new merged CSV file
output_file_path = os.path.join(folder_path, 'merged_pricedelay_US_SP500.csv')

# Open the output file in write mode (this will also create the file if it doesn't exist)
with open(output_file_path, 'w', newline='') as file_out:
    writer = None  # This will be used to write to CSV

    # Loop through the file names
    for i in range(39):  # Since it's from data_0 to data_38
        file_path = os.path.join(folder_path, f'chunk_{i}_annual_delay_measures.csv')
        if os.path.exists(file_path):
            # Read the CSV file
            df = pd.read_csv(file_path)
            
            # If writer is not set, this is the first file, so include headers
            if writer is None:
                df.to_csv(file_out, index=False)
                writer = True
            else:
                df.to_csv(file_out, index=False, header=False)
        else:
            print(f'File not found: {file_path}')

In [6]:
# 1st is GVKEY then # 2 is LPERMNO
file = '(3)US CRSP:Compustat Data/merged_pricedelay_US_SP500.csv'

# the first column is called 'code'. Separate it into two columns where we split 'code' by '_' 
df = pd.read_csv(file)
df[['GVKEY', 'LPERMNO']] = df['code'].str.split('_', expand=True)

# save the updated df back to the csv file
df.to_csv(file, index=False)